.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  z-index: 10;
  animation: slide-down 300ms ease-out forwards;
  cursor: pointer;
}

.content{
  /* z-index: 40; */
}